@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,400;1,600&display=swap');

$font-main: 'Poppins', sans-serif;

$white: #fff;
$black: #121215;
$primary: #7A4FFE;
$color-text: #8C8CA7;
$color-text-light: #62626f;

// Light Theme
$text-light: $black;
$background-primary-light: $white;
$background-secondary-light: #F2F2F2;
$background-task-light: #D6D6D6;
$new-task-light: $color-text;
$icons-light: #2F2D36;

// Dark Theme
$text-dark: $white;
$background-primary-dark: $black;
$background-secondary-dark: #2F2D36;
$background-task-dark: #18181C;
$new-task-dark: #2F2D36;
$icons-dark: $white;